<footer class="site-footer">
  <div class="wrapper">
    <p>
      &copy; {{ site.time | date: '%Y' }} Perforemance evaluation of Arctic Weather Satellite data | Sponsored by ESA
    </p>
    <p>
      <img src="assets/img/Arctic_Weather_Satellite_patch.png" alt="Arctic Weather Satellite logo" height="100"/>
    </p>
  </div>
</footer>



<!-- <p>Footer with separator lines</p> -->

<!-- <table> -->
<!--   <tbody> -->
<!--     <tr> -->
<!--       <td>cell1</td> -->
<!--       <td>cell2</td> -->
<!--     </tr> -->
<!--   </tbody> -->
<!--   <tfoot> -->
<!--     <tr> -->
<!--       <td>cell3</td> -->
<!--       <td>cell4</td> -->
<!--     </tr> -->
<!--     <tr> -->
<!--       <td>cell5</td> -->
<!--       <td>cell6</td> -->
<!--     </tr> -->
<!--   </tfoot> -->
<!-- </table> -->
